<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <menuitem id="menu_apunts_direccion_root"
              name="Dirección"
              sequence="1"
              groups="account.group_account_readonly"
              web_icon="apunts_jr_dashboard_direccion,static/description/icon.png"/>

    <menuitem id="menu_apunts_direccion_panel"
              name="Panel Dirección"
              parent="menu_apunts_direccion_root"
              action="apunts_action_direccion_resumen_srv"
              sequence="1"/>

    <menuitem id="menu_apunts_direccion_evolucion"
              name="Evolución semanal"
              parent="menu_apunts_direccion_root"
              action="apunts_action_direccion_snapshot"
              sequence="2"/>
</odoo>
